VNCPASS=ChangeThisVncPassword
HOOK_HOST=127.0.0.1
HOOK_PORT=22223
HOOK_TIMEOUT=5
WECHAT_VERSION=3.9.12.16
WECHAT_API_PORTS_CSV=22223,18888
WECHAT_AGENT_RESTART_DELAY=3
RESUME_LOGIN_CMD=
REQUIRE_SCAN_CMD=
